html { 
    height: 100%;
    width: 100%;
    font-family: "American Typewriter", sans-serif;
    color: #fff;
}

body { 
    min-height: 100%;
    min-width: 100%;
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    color: red;
}

input[type=select] {
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    font-family: "American Typewriter", sans-serif;
  }
  
  input[type=submit] {
    background-color: red;
    color: black;
    height: 40px;
    width: 100px;
    /* width: 50%; */
    font-family: "American Typewriter", sans-serif;
  }


#plot {
    background-color: red;
 }

#trivia { 
    background-color: red;
}

#quote { 
    background-color: red;
}